# Telegram Bot Credentials
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN_HERE
TELEGRAM_USER_ID=YOUR_USER_ID_HERE
TELEGRAM_BOT_USERNAME=your_bot_username

# Comma-separated list of owned sticker pack short names
OWNED_PACKS=
